img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
header {
    display: flex;
    flex-direction: row-reverse; /* Image on the right */
    align-items: center;
    justify-content: flex-end;
    background-color: #19647E;
    border-radius: 10px;
    color: #FFC857;
    font-weight: 900;
    font-family: "Reem Kufi", sans-serif;
    direction: rtl;
    padding: 2px 20px 2px 2px;
    font-size: 30px;
    gap: 10px;
}
